.lower{
    display: flex;
    justify-content: space-between;
    width: 544px;
    margin-left: 180px;
   color: black;
    cursor: pointer;
   margin-top: 20px;
   font-size: large;
   font-weight: 400;
  
   
}
